@import url("https://fonts.googleapis.com/css?family=Lato:300");

* {
    padding:0;
    margin:0;
}

body {
    background-color: #666666;
}

header {
    background-color: #7d7d7d;
}

header .top-icon {
    display: inline-flex;
    box-sizing: border-box;
}

header .top-icon img {
    height: 7em;
    object-fit: cover;
    margin-left: 2em;
    margin-top: 4em;
    margin-right: 3em;
}

header h1 {
    font-family: 'Red Hat Display', sans-serif;
    color: #d6d6d6;
    font-size: 5em;
    text-align: center;
    padding-top: 0.8em;
}

.top-nav {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: #1f1f1f;
    position: relative;
    border: 0.5em;
    border-style: solid;
    border-color: #5534eb;
    margin-top: 1em;
}

.top-nav #extra-pages {
    display: none;
}

.top-nav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
    font-size: 3em;
    font-family: 'Red Hat Display', sans-serif;
}

.top-nav a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

.top-nav a:hover {
    background-color: #ddd;
    color: black;
}

.active {
    background-color: #04AA6D;
    color: white;
  }

.content {
    background-color: #666666;
    width: 95%;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    margin-top: 2rem;
    opacity: 0.8;
    
}

.content .personal_info {
    padding-top: 2em;
    padding-left: 3em;
    padding-right: 3em;
}

.content p {
    font-size: 3em;
    font-family: 'Red Hat Display', sans-serif;
    color: #d6d6d6;
}



.sub-heading {
    width: 100%;
    position: relative;
    height: 15em;
    display: flex;
    justify-content: center;
}

.sub-heading img {
    width: 100%;
    box-sizing: border-box;
    object-fit: cover;
}

.sub-heading h2 {
    position: absolute;
    top: 35%;
    font-size: 4em;
    font-family: 'Red Hat Display', sans-serif;
    color: #d6d6d6;
}


